$cWhite: white;
$cBlack: black;

#container{
    text-align: center;
}

.btn{
    margin: 50px 0;
    padding: 10px 40px;
    border: 1px solid;
    background-color: $cWhite;
    color: $cBlack;
    font-weight: 600;
    transition: background-color 0.3;

    &:hover{
        background-color: $cBlack;
        color: $cWhite;
    }
}


    